<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Nova Ideas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Revistas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">La Empresa</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contactos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenidos a NovaIdeas</div>
                <div class="intro-heading">Si puedes soñarlo, puedes hacerlo!</div>
                <a href="#services" class="page-scroll btn btn-xl">Conoce Más</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Llegar juntos es el principio. Mantenerse juntos es el progreso. Trabajar juntos es el éxito.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Publicidad Escrita</h4>
                    <p class="text-muted">¿Necesitas mostrar tu empresa en medios escritos? Nosotros nos encargamos de que tu empresa se muestre en las mejores revistas.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Publicidad Digital</h4>
                    <p class="text-muted">Si quieres mostrar tu empresa en medios digitales, nosotros tenemos las mejores soluciones y opciones para acomodarse a tus necesidades.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Imagen Coorporativa</h4>
                    <p class="text-muted">Diseñamos la imagen de tu empresa, para reflejar tu identidad, tus objetivos y mostrar al mundo tu empresa.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Revistas</h2>
                    <h3 class="section-subheading text-muted">Descarga nuestras revistas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="/magazines/1" class="portfolio-link" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/portfolio/pro-contruccion1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pro Contrucción 01</h4>
                        <p class="text-muted">Agosto/Septiembre 2015</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="/magazines/2" class="portfolio-link" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("/assets/portfolio/pro-contruccion2.jpg", class: "img-responsive") %>

                    </a>
                    <div class="portfolio-caption">
                        <h4>Pro Contrucción 02</h4>
                        <p class="text-muted">Noviembre-Abril 2016/2017</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">La Empresa</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Misión</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Brindarles a nuestros clientes solucione integrales de comunicación estratégica, publicidad desde el diseño de una campaña creativa, hasta la realización de piezas publicitarias y planeación de medios, haciendo que su empresa sea notable y su marca impacte y sea inolvidable.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Visión</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ser la agencia publicitaria preferida por las principales empresas de Bolivia por los resultados que generamos para sus negocios, pero también por el profesionalismo y los valores que rigen en nuestro trabajo y nuestra relación con ellos.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactos</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 contact-info">
                <h3>Información de contacto</h3>
                <strong>TELÉFONOS:</strong> +591 4 4254423 - +591 67405002<br>
                <strong>CORREO ELECTRÓNICO:</strong> info@novaideas-bolivia.com<br>
                <strong>DIRECCIÓN:</strong> Av. Heroínas #464 entre San Marín y 23 de Mayo. Edificio Tardío I - 3er Piso Of. 303 - Cochabamba, Bolivia<br>
                <div id="map"></div>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="/contacts" method="post" >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre completo *" id="name" name="contact[name]" >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Correo electrónico *" id="email" name="contact[email]" >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Teléfono *" id="phone" name="contact[phone]" >
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Mensaje *" id="message" name="contact[message]" ></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Nova Ideas</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!--<li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>-->
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                  Desarrollado por <a href="http://dual-designers.com" target="_blank" style="color:#0D52B1;">Dual Designers</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <%= javascript_include_tag 'jquery' %>


    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag 'bootstrap.min' %>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->


    <!-- VALIDACIONES
        <script src="/assets/jqBootstrapValidation.js"></script>
    -->



    <%= javascript_include_tag 'contact_me' %>

    <!-- Theme JavaScript -->
    <%= javascript_include_tag 'agency.min' %>

    <!-- Google Maps -->
    <script>
      function initMap() {
        var uluru = {lat: -17.392119, lng: -66.154927};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3osLVnkYVXQepc0OAnSYVlp1nTZxj-w&callback=initMap">
    </script>

</body>

</html>
